<header>
  <h1 style="color: #0b8000;">root@anand:~<span class="blink_me">_</span></h1>
  <p>cybersecurity engineer by day, gymrat by evening, astrophile by night</p>
  <br>
  <div class="social-icons" style="margin-top: 10px; font-size: 10px;">
    <a href="https://linkedin.com/in/anandsreekumaras" target="_blank" style="color: #0b8000;">linkedin</a>
    <a href="https://twitter.com/anandsreekumar_" target="_blank" style="color: #0b8000;">twitter</a>
    <a href="https://github.com/anandsreekumaras" target="_blank" style="color: #0b8000;">github</a>
    <a href="https://facebook.com/anandsreekumaras" target="_blank" style="color: #0b8000;">facebook</a>
    <a href="https://instagram.com/anandsreekumaras/" target="_blank" style="color: #0b8000;">instagram</a>
    <a href="https://stackoverflow.com/users/5317663/anand-a-s" target="_blank" style="color: #0b8000;">stackoverflow</a>
  </div>
</header>
