<section id="talks">
  <h2 class="text-center">miscellaneous</h2>
  <p>first prize winner of <a href="https://india.c0c0n.org/2024/" target="_blank">c0c0n 2024</a> CTF competition <a href="https://www.thehindubusinessline.com/info-tech/ust-clinches-top-three-positions-in-capture-the-flag-competition-at-c0c0n-2024-cybersecurity-meet/article68918146.ece" target="_blank">[news link]</a></p>
  <p>talk at DEFCON <a href="https://events.dc0471.org/dc0471-meetup-0x02/" target="_blank">dc0471 meetup 0x02</a> on bug bounty hunting <a href="https://www.facebook.com/dc0471/photos/...etc" target="_blank">[event photos]</a></p>
</section>
